@charset "UTF-8";
/* CONTAINER */ /* VARIABLES*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* GENERAL */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

img, svg {
  display: block;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  background-color: #F7F7F7;
}

/* STICKY-FOOTER */
.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  max-width: 1460px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/*Header*/
.site-header .site-header-top {
  background-color: #ffffff;
  border-bottom: 0.5px solid #E0E0E0;
}
.site-header .header-top {
  padding: 11px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site-header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 60%;
  margin-right: 125px;
}
.site-header .logo img {
  width: 234px;
}
.site-header .provinces-select {
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 15px 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #272A39;
  outline: none;
  background-image: url("/images/Vector.svg");
  background-repeat: no-repeat;
  background-position: center right 0px;
  background-size: 13px 8px;
  cursor: pointer;
  margin-right: 27px;
}
.site-header .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 0px;
}
.site-header .list-item:not(:last-child) {
  margin-right: 24px;
}
.site-header .list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #272A39;
}
.site-header .header-top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
.site-header .phone-number {
  margin-right: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #272A39;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site-header .phone-number::before {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  background-image: url("/images/phone-img.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 8px;
}
.site-header .language-select {
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 15px 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #272A39;
  outline: none;
  background-image: url("/images/Vector.svg");
  background-repeat: no-repeat;
  background-position: center right 0px, center left 0;
  background-size: 13px 8px, 18px;
  cursor: pointer;
}
.site-header .site-header-bottom {
  background-color: #ffffff;
}
.site-header .header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px 0;
}
.site-header .form {
  width: 700px;
  margin-right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site-header .search-input {
  width: 100%;
  border-radius: 10px 0 0 10px;
  padding: 13px 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #272A39;
  border: 1px solid #E0E0E0;
  outline: none;
}
.site-header .search-input:focus {
  border: 1px solid #272A39;
}
.site-header .search-input::-webkit-input-placeholder {
  color: #A8AAB0;
}
.site-header .search-input::-moz-placeholder {
  color: #A8AAB0;
}
.site-header .search-input:-ms-input-placeholder {
  color: #A8AAB0;
}
.site-header .search-input::-ms-input-placeholder {
  color: #A8AAB0;
}
.site-header .search-input::placeholder {
  color: #A8AAB0;
}
.site-header .search-btn {
  border-radius: 0px 10px 10px 0;
  padding: 10px 18px;
  border: none;
  background-color: #BDBDBD;
  border: 1px solid #BDBDBD;
}
.site-header .btn-login {
  border: none;
  background-color: #3279E3;
  border-radius: 10px;
  padding: 13px 49px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.hero {
  position: relative;
  padding: 34px 0;
  /* Slideshow container */
  /* Make the images invisible by default */
  /* forward & Back buttons */
  /* Place the "forward button" to the right */
  /*when the user hovers,add a black background with some little opacity */
  /* Caption Info */
  /* Worknumbering (1/3 etc) */
  /* The circles or bullets and indicators */
  /* Faint animation */
}
.hero .slideshow-container {
  max-width: 1420px;
  position: relative;
  margin: auto;
}
.hero .Containers {
  display: none;
  height: 400px;
}
.hero .Back, .hero .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  left: -25px;
  width: 48px;
  height: 48px;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  border-radius: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #fff;
  background-image: url("/images/arrow_left.png");
  background-position: center;
  -webkit-box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.12);
}
.hero .forward {
  background-image: url("/images/arrow_right.png");
  right: -25px;
  left: auto;
}
.hero .Back:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.hero .forward:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.hero .Info {
  color: #e3e3e3;
  font-size: 16px;
  top: 75px;
  left: 65px;
  position: absolute;
  width: 645px;
  text-align: left;
}
.hero .banner-title {
  font-weight: 600;
  font-size: 56px;
  line-height: 111.02%;
  color: #ffffff;
}
.hero .banner-text {
  margin: 18px 0 34px 0;
  width: 465px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  opacity: 0.8;
}
.hero .banner-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #272A39;
  background: #ffffff;
  border-radius: 22px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
}
.hero .MessageInfo {
  color: #f2f2f3;
  font-size: 14px;
  padding: 10px 14px;
  position: absolute;
  top: 0;
}
.hero .dots-box {
  position: absolute;
  left: 0;
  right: 0;
  top: 400px;
}
.hero .dots {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 3px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
.hero .enable, .hero .dots:hover {
  background-color: #3279E3;
}
.hero .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 2;
  }
}
@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 2;
  }
}

.intro .intro-inner {
  padding: 34px 0 117px 0;
}
.intro .category-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #272A39;
}
.intro .card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 34px;
}
.intro .card-list-item:nth-child(2) .card-list-link {
  background-image: url("/images/areston-ponel.png");
}
.intro .card-list-link {
  width: 700px;
  height: 284px;
  background-image: url("/images/energi-ponel.png");
  padding: 174px 34px 34px 34px;
}
.intro .category-box-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.intro .category-box-text {
  margin-top: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  opacity: 0.8;
}

.calculator .calculator-title {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #272A39;
  margin-bottom: 34px;
}
.calculator .box-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.calculator .box-list-item:not(:last-child) {
  margin-right: 24px;
}
.calculator .box-list-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #272A39;
  border-bottom: 2px solid transparent;
  padding-bottom: 5px;
}
.calculator .boxlistitemactive .box-list-link {
  border-bottom: 2px solid #3279E3;
}
.calculator .sliders {
  display: none;
}
.calculator .slidersactive {
  display: block;
}
.calculator .calculator-box-inner {
  width: 940px;
  margin: 47px auto;
  padding: 34px 164px;
  background-color: #ffffff;
  border: 1px solid #E0E0E0;
  -webkit-box-shadow: 0px 4px 29px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 29px rgba(0, 0, 0, 0.08);
  border-radius: 34px;
}
.calculator .box-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #272A39;
}
.calculator .chek-box {
  width: 299px;
  padding: 20px;
  background: #F2F4F7;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.calculator .month-number {
  margin-left: 18px;
}
.calculator .radio-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 14px;
  margin-bottom: 34px;
}
.calculator .slinder {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: #ffffff;
  border: 1.5px solid #E0E0E0;
  border-radius: 50%;
  margin-right: 14px;
}
.calculator .radio:checked + .chek-box .slinder {
  border: 4px solid #1084FA;
}
.calculator #fifty-warning {
  margin-top: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #A8AAB0;
}
.calculator .fifty-warning-on {
  display: block;
}
.calculator .cvadrat-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 14px 0 35px 0;
}
.calculator .cvadratgroupwater .ponel-input {
  display: none;
}
.calculator .cvadratgroupwater .wotter-input {
  display: block;
}
.calculator .wotter-input {
  display: none;
}
.calculator .cvadret-input {
  background-color: #ffffff;
  border: 1px solid #F2F2F2;
  border-radius: 12px;
  padding: 20px 18px;
  margin-right: 20px;
  width: 100%;
}
.calculator .cvadret-input--padding {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
.calculator .cvadret-btn {
  padding: 20px 38px;
  background-color: #3279E3;
  border-radius: 10px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
}
.calculator .itogo {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #A8AAB0;
  margin-top: 20px;
}
.calculator .summa {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #A8AAB0;
}
.calculator .summa strong {
  color: #272A39;
}

.tavar .tavar-inner {
  width: 940px;
  margin: 0 auto;
}
.tavar .tavar-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #272A39;
}
.tavar .product-list {
  margin-top: 21px;
  margin-bottom: 99px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tavar .product-list-item {
  width: 300px;
  background-color: #fff;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  padding: 0 16px 18px 16px;
  position: relative;
}
.tavar .product-list-item img {
  margin: 0 auto;
}
.tavar .product-list-link {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tavar .btn-hart {
  position: absolute;
  border: none;
  background-color: transparent;
  top: 23px;
  right: 21px;
}
.tavar .likes-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tavar .likes-list-item:not(:last-child) {
  margin-right: 8px;
}
.tavar .likes-list-item:last-child .likes-list-link {
  background-image: url("/images/star-gtey.svg");
}
.tavar .likes-list-link {
  width: 15px;
  height: 15px;
  background-image: url("/images/star-yellow.svg");
}
.tavar .likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
  margin-bottom: 8px;
}
.tavar .likes .product-list-link {
  display: none;
}
.tavar .likes span {
  margin-left: 10px;
}
.tavar .model-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #272A39;
}
.tavar .model-number {
  display: block;
  margin: 4px 0 10px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #A8AAB0;
}
.tavar .summa {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #3279E3;
}
.tavar .summa-supsidy {
  margin: 18px 0 6px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: block;
  color: #A8AAB0;
}
.tavar .summa-blok {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #272A39;
}
.tavar .summa-rasrochki {
  margin: 10px 0 6px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: block;
  color: #A8AAB0;
}
.tavar .summa-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tavar .summa-number {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #272A39;
}
.tavar .mons {
  display: inline-block;
  padding: 4px 7px;
  background-color: #FFDE68;
  border-radius: 58px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #272A39;
}
.tavar .btn-list {
  text-align: center;
  margin-top: 20px;
  width: 100%;
  padding: 16px 55px;
  background-color: #3279E3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  border: none;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#tooltip {
  margin-right: 5px;
}

.range-slider {
  width: 100%;
  margin-top: 15px;
  margin-bottom: -5px;
  position: relative;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
}

.ranes-input {
  padding: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 48px;
}

th {
  padding: 10px 10px 10px 24px;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #A8AAB0;
}

th:last-child {
  text-align: right;
  padding: 10px 24px 10px 24px;
}

td {
  padding: 10px 10px 10px 24px;
}

td:last-child {
  text-align: right;
  padding: 10px 24px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.thead {
  background-color: #f2f2f2;
}

.tavar .tavar-inners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.tavar .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tavar .content .ponel {
  font-weight: 700;
  font-size: 36px;
  line-height: 41px;
  letter-spacing: -0.04em;
  /* White Theme/Font/Primary */
  color: #272A39;
}
.tavar .content span {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #A8AAB0;
  margin-top: 4px;
  margin-left: 8px;
}
.tavar .tavar-filter {
  width: 340px;
  margin-top: 37px;
}
.tavar .tavar-wrapper {
  margin-top: 37px;
  width: 1060px;
}
.tavar .product-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.tavar .product-list-item {
  margin-bottom: 14px;
}
.tavar .popular-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tavar .btn-drop {
  width: 340px;
  background: #ffffff;
  border-radius: 4px;
  padding: 16px 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #272A39;
  border: none;
}
.tavar .type-card {
  width: 108px;
  height: 47px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
}
.tavar .btn-col,
.tavar .btn-row {
  border: none;
  background-color: transparent;
}
.tavar .btn-col {
  margin-right: 5px;
}
.tavar .details[open] .summary img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.tavar .details {
  background: #ffffff;
  border-radius: 4px;
}
.tavar .details .summary img {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.tavar .details:not(:last-child) {
  margin-bottom: 8px;
}
.tavar .details .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tavar .details .wrapper .sum-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tavar .details .wrapper .sum {
  width: 141px;
  display: block;
  padding: 15px 15px 15px 14px;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  border-radius: 14px;
}
.tavar .details .wrapper .sum:last-child {
  margin-left: 10px;
}
.tavar .summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 25px 20px 25px;
}

.tavar-box .product-list-item {
  width: 344px;
}
.tavar-box .manufacturer {
  padding: 24px;
}
.tavar-box .manufacturer .search-chek {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  border-radius: 10px;
  padding: 12px 12px 12px 44px;
  background-image: url("/images/search.svg");
  background-repeat: no-repeat;
  background-position: top 10px left 17px;
}
.tavar-box .manufacturer .search-chek::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #A8AAB0;
}
.tavar-box .manufacturer .search-chek::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #A8AAB0;
}
.tavar-box .manufacturer .search-chek:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #A8AAB0;
}
.tavar-box .manufacturer .search-chek::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #A8AAB0;
}
.tavar-box .manufacturer .search-chek::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #A8AAB0;
}
.tavar-box .manufacturer .chek-list {
  height: 352px;
  overflow: auto;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.tavar-box .manufacturer .chek-list::-webkit-scrollbar {
  width: 10px;
}
.tavar-box .manufacturer .chek-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.tavar-box .manufacturer .chek-list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.tavar-box .manufacturer .chek-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.tavar-box .manufacturer .chek-list-item {
  margin-top: 14px;
}
.tavar-box .manufacturer .check-input:checked + .chek-inner .checkbox {
  background-image: url("/images/State=On.svg");
  background-size: cover;
  background-position: center;
  color: red;
}
.tavar-box .manufacturer .chek-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.tavar-box .manufacturer .checkbox {
  width: 24px;
  height: 24px;
  display: block;
  border: 1.5px solid #E0E0E0;
  border-radius: 6px;
  margin-right: 14px;
  cursor: pointer;
}
.tavar-box .manufacturer .chek-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #272A39;
}
.tavar-box .purpose {
  padding: 0 24px 24px 24px;
}
.tavar-box .purpose .search-chek {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  border-radius: 10px;
  padding: 12px 12px 12px 44px;
  background-image: url("/images/search.svg");
  background-repeat: no-repeat;
  background-position: top 10px left 17px;
}
.tavar-box .purpose .search-chek::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #A8AAB0;
}
.tavar-box .purpose .search-chek::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #A8AAB0;
}
.tavar-box .purpose .search-chek:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #A8AAB0;
}
.tavar-box .purpose .search-chek::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #A8AAB0;
}
.tavar-box .purpose .search-chek::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #A8AAB0;
}
.tavar-box .purpose .chek-list-item {
  margin-top: 14px;
}
.tavar-box .purpose .check-input:checked + .chek-inner .checkbox {
  background-image: url("/images/State=On.svg");
  background-size: cover;
  background-position: center;
  color: red;
}
.tavar-box .purpose .chek-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.tavar-box .purpose .checkbox {
  width: 24px;
  height: 24px;
  display: block;
  border: 1.5px solid #E0E0E0;
  border-radius: 6px;
  margin-right: 14px;
  cursor: pointer;
}
.tavar-box .purpose .chek-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #272A39;
}
.tavar-box .charge-controller {
  padding: 0 24px 24px 24px;
}
.tavar-box .charge-controller .search-chek {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  border-radius: 10px;
  padding: 12px 12px 12px 44px;
  background-image: url("/images/search.svg");
  background-repeat: no-repeat;
  background-position: top 10px left 17px;
}
.tavar-box .charge-controller .search-chek::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #A8AAB0;
}
.tavar-box .charge-controller .search-chek::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #A8AAB0;
}
.tavar-box .charge-controller .search-chek:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #A8AAB0;
}
.tavar-box .charge-controller .search-chek::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #A8AAB0;
}
.tavar-box .charge-controller .search-chek::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #A8AAB0;
}
.tavar-box .charge-controller .chek-list-item {
  margin-top: 14px;
}
.tavar-box .charge-controller .check-input:checked + .chek-inner .checkbox {
  background-image: url("/images/State=On.svg");
  background-size: cover;
  background-position: center;
  color: red;
}
.tavar-box .charge-controller .chek-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.tavar-box .charge-controller .checkbox {
  width: 24px;
  height: 24px;
  display: block;
  border: 1.5px solid #E0E0E0;
  border-radius: 6px;
  margin-right: 14px;
  cursor: pointer;
}
.tavar-box .charge-controller .chek-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #272A39;
}
.tavar-box .details-btn {
  padding: 14px 24px;
}
.tavar-box .details-btn .btn-form {
  padding: 16px 16px;
  width: 100%;
  border: none;
  background: #F2F2F2;
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #C0C0C0;
}

.modal .entity-select {
  display: none;
}
.modal .select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.modal .select-group {
  position: relative;
}
.modal .select-group::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 7px;
  background-image: url("/images/Vector.svg");
  background-repeat: no-repeat;
  background-size: cover;
  right: 40px;
  top: 28px;
}
.modal .cvadratgroupwater .individual-select {
  display: none;
}
.modal .cvadratgroupwater .entity-select {
  display: block;
}
.modal .cvadret-btn--bottom {
  margin-bottom: 20px;
}

.modal-btn-open {
  border: none;
  background-color: #3279E3;
  border-radius: 10px;
  padding: 13px 49px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.modal {
  display: none;
}
.modal .calculator-box-inner {
  margin: 15px auto;
  position: relative;
}

.hiddn-of {
  overflow: hidden;
}

.madal-show {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.479);
  overflow: auto;
}

.modal-btn-close {
  position: absolute;
  right: 50px;
  top: 40px;
  border: none;
  background-color: transparent;
}

.range-slider {
  width: 300px;
  text-align: center;
  position: relative;
  padding-bottom: 20px;
}

input[type=range] {
  -webkit-appearance: none;
  border: 1px solid white;
  width: 300px;
  position: absolute;
  left: 0;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 10px;
  background: #F2F2F2;
  border: none;
  border-radius: 44px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background: #3279E3;
  margin-top: -8px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

/*The following CSS code is not necessary for everyone*/
input[type=range]::-moz-range-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #21c1ff;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
}

input[type=range]::-ms-track {
  width: 300px;
  height: 5px;
  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;
  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;
  /*remove default tick marks*/
  color: transparent;
  z-index: -4;
}

input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}

input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #21c1ff;
}

input[type=range]:focus::-ms-fill-lower {
  background: #888;
}

input[type=range]:focus::-ms-fill-upper {
  background: #ccc;
}

.ranes {
  width: 100%;
  padding-bottom: 10px;
}

.product .product-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.product .links {
  padding: 24px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 111%;
  color: #272A39;
}
.product .links span {
  color: #A8AAB0;
}
.product .product-wrapper {
  width: 1060px;
  background-color: #fff;
  padding: 24px;
  border-radius: 4px;
}
.product .product-name {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #272A39;
  margin-bottom: 22px;
}
.product .function {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.product .function img {
  margin: 0 51px 20px 51px;
}
.product .function .list {
  margin-left: 34px;
  width: 100%;
}
.product .function .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product .function .list-item p {
  width: 260px;
  font-weight: 400;
  font-size: 14px;
  line-height: 37px;
  color: #A8AAB0;
}
.product .function .list-item span {
  display: block;
  width: 200px;
  font-weight: 600;
  font-size: 14px;
  line-height: 37px;
  color: #272A39;
}
.product .function .list-item .btn-sum {
  text-align: center;
  margin-top: 22px;
  background: #E9F5EE;
  border-radius: 11px;
  padding: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #219653;
  border: none;
}
.product .product-sum {
  margin-left: 20px;
}
.product .product-sum .sum-card {
  width: 340px;
  background: #FFFFFF;
  border-radius: 4px;
  padding: 24px 20px;
}
.product .product-sum .sum-card .sum-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #272A39;
}
.product .product-sum .sum-card .del-sum {
  display: block;
  margin: 18px 0 2px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.03em;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #A8AAB0;
}
.product .product-sum .sum-card .sum {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.03em;
  color: #272A39;
  margin-bottom: 18px;
}
.product .product-sum .sum-card .btn-sum {
  text-align: center;
  width: 100%;
  padding: 15px;
  background-color: #3279E3;
  border-radius: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  border: none;
  text-align: center;
}
.product .rasrochka-card {
  margin-top: 20px;
  width: 340px;
  background: #FFFFFF;
  border-radius: 4px;
  padding: 24px 20px;
}
.product .rasrochka-card .rasrochka-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #272A39;
}
.product .rasrochka-card .mons-number {
  margin: 18px 0;
  width: 100%;
  padding: 11px 18px;
  background-color: #FFFFFF;
  border: 1px solid #F2F2F2;
  border-radius: 12px;
  background-image: url("/images/Vector.svg");
  background-position: top 17px right 23px;
  background-repeat: no-repeat;
  background-size: 11px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.product .rasrochka-card .mons-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.product .rasrochka-card .name-mons {
  display: block;
}
.product .rasrochka-card .itogo {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #A8AAB0;
}
.product .rasrochka-card .sum-mons {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #272A39;
  margin: 10px 0 24px 0;
}
.product .rasrochka-card .btn-sum {
  text-align: center;
  width: 100%;
  padding: 15px;
  background-color: #3279E3;
  border-radius: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  border: none;
}

.characteristics {
  width: 1000px;
  background-color: #fff;
  padding: 24px 0 0 0;
  border-radius: 4px;
  margin-top: 20px;
}
.characteristics .list-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 371px;
}
.characteristics .list-description-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.02em;
  color: #C0C0C0;
}
.characteristics .list-description-item--active .list-description-link {
  color: #272A39;
}
.characteristics .content {
  margin-top: 35px;
}
.characteristics .description {
  display: none;
}
.characteristics .description .general {
  font-family: "Arial";
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #272A39;
}
.characteristics .description .list {
  padding-bottom: 24px;
  width: 540px;
}
.characteristics .description .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.characteristics .description .list-item p {
  width: 260px;
  font-weight: 400;
  font-size: 14px;
  line-height: 37px;
  color: #A8AAB0;
}
.characteristics .description .list-item span {
  display: block;
  width: 200px;
  font-weight: 600;
  font-size: 14px;
  line-height: 37px;
  color: #272A39;
}
.characteristics .description .list-item .btn-sum {
  text-align: center;
  margin-top: 22px;
  background: #E9F5EE;
  border-radius: 11px;
  padding: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #219653;
  border: none;
}
.characteristics .description .likes-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.characteristics .description .likes-list-item:not(:last-child) {
  margin-right: 8px;
}
.characteristics .description .likes-list-item:last-child .likes-list-link {
  background-image: url("/images/star-gtey.svg");
}
.characteristics .description .likes-list-link {
  width: 15px;
  height: 15px;
  background-image: url("/images/star-yellow.svg");
}
.characteristics .description .likes0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.characteristics .description .likes0 .likes-list-item:not(:last-child) {
  margin-right: 8px;
}
.characteristics .description .likes0 .likes-list-item:last-child .likes-list-link {
  background-image: url("/images/star-yellow.svg");
}
.characteristics .description .likes1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.characteristics .description .likes1 .likes-list-item:not(:last-child) {
  margin-right: 8px;
}
.characteristics .description .likes1 .likes-list-item:last-child .likes-list-link {
  background-image: url("/images/star-gtey.svg");
}
.characteristics .description .likes2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.characteristics .description .likes2 .likes-list-item:not(:last-child) {
  margin-right: 8px;
}
.characteristics .description .likes2 .likes-list-item:nth-child(4) .likes-list-link {
  background-image: url("/images/star-gtey.svg");
}
.characteristics .description .likes3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.characteristics .description .likes3 .likes-list-item:not(:last-child) {
  margin-right: 8px;
}
.characteristics .description .likes3 .likes-list-item:nth-child(4) .likes-list-link {
  background-image: url("/images/star-gtey.svg");
}
.characteristics .description .likes3 .likes-list-item:nth-child(3) .likes-list-link {
  background-image: url("/images/star-gtey.svg");
}
.characteristics .description .likes4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.characteristics .description .likes4 .likes-list-item:not(:last-child) {
  margin-right: 8px;
}
.characteristics .description .likes4 .likes-list-item:nth-child(4) .likes-list-link {
  background-image: url("/images/star-gtey.svg");
}
.characteristics .description .likes4 .likes-list-item:nth-child(3) .likes-list-link {
  background-image: url("/images/star-gtey.svg");
}
.characteristics .description .likes4 .likes-list-item:nth-child(2) .likes-list-link {
  background-image: url("/images/star-gtey.svg");
}
.characteristics .reviews-box {
  width: 325px;
}
.characteristics .btn-reviews {
  margin-top: 40px;
  width: 100%;
  padding: 15px;
  background-color: #3279E3;
  border-radius: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  border: none;
}
.characteristics .reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.characteristics .reviews img {
  margin-left: 8px;
}
.characteristics .reviews-number p {
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  color: #272A39;
}
.characteristics .reviews-number p sub {
  font-weight: 400;
  font-size: 20px;
}
.characteristics .reviews-number span {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #272A39;
}
.characteristics .content-active .description {
  display: block;
}
.characteristics .description p {
  font-family: "Arial", sans-serif;
}
.characteristics .description p:last-child {
  margin-top: 34px;
  padding-bottom: 24px;
}
.characteristics .description-coment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.characteristics .coment-list {
  width: 620px;
}
.characteristics .coment-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.characteristics .content-wrapper {
  margin-left: 16px;
}
.characteristics .content-wrapper p {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #272A39;
}
.characteristics .likes1-blok {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.characteristics .likes1-blok span {
  font-family: "Arial";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #A8AAB0;
  margin-left: 12px;
}
.characteristics .coment-list-item {
  padding-top: 24px;
  border-bottom: 1px solid #F2F2F2;
}
.characteristics .coment-list-item .text {
  font-family: "Arial";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #272A39;
  margin-top: 21px;
  margin-bottom: 18px;
}
.characteristics .img-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.characteristics .img-list-item:not(:last-child) {
  margin-right: 12px;
}
.characteristics .liks-group {
  margin-top: 19px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.characteristics .liks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.characteristics .liks span {
  font-family: "Arial";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.03em;
  color: #3279E3;
  margin-left: 8px;
}
.characteristics .diz-liks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}
.characteristics .diz-liks span {
  font-family: "Arial";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.03em;
  color: #272A39;
  margin-left: 5px;
}

.tavar-active .product-list-item {
  width: 340px;
}

.product {
  padding-bottom: 50px;
}
.product .product-wrappers {
  width: 1060px;
  padding: 24px;
  background-color: #FFFFFF;
  border-radius: 4px;
}
.product .card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 946px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.product .card-list-item {
  width: 461px;
}
.product .card-list-item:nth-child(odd) {
  margin-right: 24px;
}
.product .card-list-item .input-text--active {
  opacity: 0;
}
.product .card-list-item .cvadret-input {
  background-color: #ffffff;
  border: 1px solid #F2F2F2;
  border-radius: 12px;
  padding: 20px 18px;
  margin-right: 20px;
  width: 100%;
}
.product .input-text {
  margin-top: 24px;
  margin-bottom: 14px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #3278E1;
}
.product .foto-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 866px;
}
.product .foto {
  width: 162px;
  height: 118px;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  border-radius: 12px;
}
.product .textarea {
  width: 866px;
  height: 248px;
  background-color: #FFFFFF;
  border: 1px solid #F2F2F2;
  border-radius: 12px;
  resize: none;
  padding: 24px;
}
.product .btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 866px;
  margin-top: 25px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.product .btn-group .btn-close {
  background-color: #A8AAB0;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  padding: 20px 99px;
  border: none;
  margin-right: 21px;
}
.product .btn-group .btn-push {
  background-color: #3279E3;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  padding: 20px 99px;
  border: none;
}
.product .product-sum .product-list {
  margin: 0;
}

.cvadret-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.arrow-select {
  position: relative;
}

.arrow-select::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 7px;
  background-image: url("/images/Vector.svg");
  background-repeat: no-repeat;
  background-size: cover;
  right: 30px;
  top: 28px;
}

/*Footer*/
.site-footer {
  padding: 13px 0 28px 0;
  background-color: #ffffff;
}
.site-footer .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site-footer .footer-list {
  margin-left: 68px;
}
.site-footer .footer-list-item:not(:last-child) {
  margin-bottom: 10px;
}
.site-footer .footer-list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #272A39;
}
.site-footer .phone-number-box {
  margin-left: auto;
}
.site-footer .phone-number {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #272A39;
}
.site-footer .footer-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #A8AAB0;
}
.site-footer .icon-list {
  padding-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 132px;
  margin-left: 307px;
}

/*
 _______       _            _     _          ______        _                 _ 
(_______)     (_)       _  (_)   | |        (____  \      (_)               | |
 _______  ____ _  ___ _| |_ _  __| |_____    ____)  ) ____ _ _____ ____   __| |
|  ___  |/ ___) |/___|_   _) |/ _  | ___ |  |  __  ( / ___) (____ |  _ \ / _  |
| |   | | |   | |___ | | |_| ( (_| | ____|  | |__)  ) |   | / ___ | | | ( (_| |
|_|   |_|_|   |_(___/   \__)_|\____|_____)  |______/|_|   |_\_____|_| |_|\____|

Auteur: msii(msii.pro@gmail.com) 
_modal.scss(Ɔ) 2022
Description : Saisissez la description puis « Tab »
Créé le :  lundi 8 août 2022, 10:33:16 
Dernière modification : lundi 8 août 2022, 10:33:17
*//*# sourceMappingURL=app.css.map */